* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020202;
  position: relative;
}

.sidebar {
  background-color: #1f1e1e;
  width: 20%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.hide {
  transform: translateX(-310px);
}

ul li {
  font-size: 1.6rem;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
  color: aliceblue;
}

.click {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.click button {
  border: 0;
  padding: 15px 20px;
  font-size: 1.3rem;
  cursor: pointer;
}
